<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangzhaoru.dao.TeacherMapper">
    <resultMap id="teacherMap" type="teacher">
        <result column="id" property="id" />
        <result column="t_no" property="tNo"/>
        <result column="t_name" property="tName" />
        <association property="position" javaType="position" resultMap="positionMap"/>
    </resultMap>
    <resultMap id="positionMap" type="position">
        <result column="t_pos_name" property="tPosName"/>
    </resultMap>
    <select id="getTeacherById" resultMap="teacherMap" parameterType="int">
        SELECT t.id,t_no,t_name,p.t_pos_name  FROM teacher t
        LEFT JOIN position p
        ON t.position_id=p.id
        WHERE t.id=#{id}
    </select>
</mapper>